July2ndweekwork/EmployeePortalService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://sample.com/reservation/guest/types" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sample.com/reservation/guest" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://sql.java/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://sample.com/reservation/guest">
    <wsdl:documentation>EmployeePortalService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sql.java/xsd">
            <xs:complexType name="SQLException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="SQLState" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="nextException" nillable="true" type="ax21:SQLException"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://sql.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sample.com/reservation/guest/types">
            <xs:import namespace="http://sql.java/xsd"/>
            <xs:element name="EmployeePortalServiceClassNotFoundException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ClassNotFoundException" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EmployeePortalServiceSQLException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SQLException" nillable="true" type="ax22:SQLException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEmployee">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                        <xs:element minOccurs="0" name="dept" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="age" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmployeeDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="guestName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmployeeDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:Employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Employee">
                <xs:sequence>
                    <xs:element minOccurs="0" name="age" type="xs:int"/>
                    <xs:element minOccurs="0" name="dept" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="deleteEmployee">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="guestName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getEmployeeDetailsRequest">
        <wsdl:part name="parameters" element="ns:getEmployeeDetails"/>
    </wsdl:message>
    <wsdl:message name="getEmployeeDetailsResponse">
        <wsdl:part name="parameters" element="ns:getEmployeeDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="EmployeePortalServiceClassNotFoundException">
        <wsdl:part name="parameters" element="ns:EmployeePortalServiceClassNotFoundException"/>
    </wsdl:message>
    <wsdl:message name="EmployeePortalServiceSQLException">
        <wsdl:part name="parameters" element="ns:EmployeePortalServiceSQLException"/>
    </wsdl:message>
    <wsdl:message name="deleteEmployeeRequest">
        <wsdl:part name="parameters" element="ns:deleteEmployee"/>
    </wsdl:message>
    <wsdl:message name="addEmployeeRequest">
        <wsdl:part name="parameters" element="ns:addEmployee"/>
    </wsdl:message>
    <wsdl:message name="addEmployeeResponse">
        <wsdl:part name="parameters" element="ns:addEmployeeResponse"/>
    </wsdl:message>
    <wsdl:portType name="EmployeePortalServicePortType">
        <wsdl:operation name="getEmployeeDetails">
            <wsdl:input message="tns:getEmployeeDetailsRequest" wsaw:Action="urn:getEmployeeDetails"/>
            <wsdl:output message="tns:getEmployeeDetailsResponse" wsaw:Action="urn:getEmployeeDetailsResponse"/>
            <wsdl:fault message="tns:EmployeePortalServiceClassNotFoundException" name="EmployeePortalServiceClassNotFoundException" wsaw:Action="urn:getEmployeeDetailsEmployeePortalServiceClassNotFoundException"/>
            <wsdl:fault message="tns:EmployeePortalServiceSQLException" name="EmployeePortalServiceSQLException" wsaw:Action="urn:getEmployeeDetailsEmployeePortalServiceSQLException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <wsdl:input message="tns:deleteEmployeeRequest" wsaw:Action="urn:deleteEmployee"/>
            <wsdl:fault message="tns:EmployeePortalServiceClassNotFoundException" name="EmployeePortalServiceClassNotFoundException" wsaw:Action="urn:deleteEmployeeEmployeePortalServiceClassNotFoundException"/>
            <wsdl:fault message="tns:EmployeePortalServiceSQLException" name="EmployeePortalServiceSQLException" wsaw:Action="urn:deleteEmployeeEmployeePortalServiceSQLException"/>
        </wsdl:operation>
        <wsdl:operation name="addEmployee">
            <wsdl:input message="tns:addEmployeeRequest" wsaw:Action="urn:addEmployee"/>
            <wsdl:output message="tns:addEmployeeResponse" wsaw:Action="urn:addEmployeeResponse"/>
            <wsdl:fault message="tns:EmployeePortalServiceClassNotFoundException" name="EmployeePortalServiceClassNotFoundException" wsaw:Action="urn:addEmployeeEmployeePortalServiceClassNotFoundException"/>
            <wsdl:fault message="tns:EmployeePortalServiceSQLException" name="EmployeePortalServiceSQLException" wsaw:Action="urn:addEmployeeEmployeePortalServiceSQLException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmployeePortalServiceSoap11Binding" type="tns:EmployeePortalServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getEmployeeDetails">
            <soap:operation soapAction="urn:getEmployeeDetails" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeePortalServiceClassNotFoundException">
                <soap:fault use="literal" name="EmployeePortalServiceClassNotFoundException"/>
            </wsdl:fault>
            <wsdl:fault name="EmployeePortalServiceSQLException">
                <soap:fault use="literal" name="EmployeePortalServiceSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <soap:operation soapAction="urn:deleteEmployee" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="EmployeePortalServiceClassNotFoundException">
                <soap:fault use="literal" name="EmployeePortalServiceClassNotFoundException"/>
            </wsdl:fault>
            <wsdl:fault name="EmployeePortalServiceSQLException">
                <soap:fault use="literal" name="EmployeePortalServiceSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addEmployee">
            <soap:operation soapAction="urn:addEmployee" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeePortalServiceClassNotFoundException">
                <soap:fault use="literal" name="EmployeePortalServiceClassNotFoundException"/>
            </wsdl:fault>
            <wsdl:fault name="EmployeePortalServiceSQLException">
                <soap:fault use="literal" name="EmployeePortalServiceSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmployeePortalServiceSoap12Binding" type="tns:EmployeePortalServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getEmployeeDetails">
            <soap12:operation soapAction="urn:getEmployeeDetails" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeePortalServiceClassNotFoundException">
                <soap12:fault use="literal" name="EmployeePortalServiceClassNotFoundException"/>
            </wsdl:fault>
            <wsdl:fault name="EmployeePortalServiceSQLException">
                <soap12:fault use="literal" name="EmployeePortalServiceSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <soap12:operation soapAction="urn:deleteEmployee" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="EmployeePortalServiceClassNotFoundException">
                <soap12:fault use="literal" name="EmployeePortalServiceClassNotFoundException"/>
            </wsdl:fault>
            <wsdl:fault name="EmployeePortalServiceSQLException">
                <soap12:fault use="literal" name="EmployeePortalServiceSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addEmployee">
            <soap12:operation soapAction="urn:addEmployee" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EmployeePortalServiceClassNotFoundException">
                <soap12:fault use="literal" name="EmployeePortalServiceClassNotFoundException"/>
            </wsdl:fault>
            <wsdl:fault name="EmployeePortalServiceSQLException">
                <soap12:fault use="literal" name="EmployeePortalServiceSQLException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmployeePortalServiceHttpBinding" type="tns:EmployeePortalServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getEmployeeDetails">
            <http:operation location="getEmployeeDetails"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <http:operation location="deleteEmployee"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addEmployee">
            <http:operation location="addEmployee"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmployeePortalService">
        <wsdl:port name="EmployeePortalServiceHttpSoap11Endpoint" binding="tns:EmployeePortalServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/EmployeePortalService.EmployeePortalServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EmployeePortalServiceHttpSoap12Endpoint" binding="tns:EmployeePortalServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/EmployeePortalService.EmployeePortalServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EmployeePortalServiceHttpEndpoint" binding="tns:EmployeePortalServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/EmployeePortalService.EmployeePortalServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
